@model ObligatorioProg3.Models.Maquina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maquina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VidaUtil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VidaUtil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMaquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMaquina.MaquinaNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
